@font-face {
  font-family: Ubuntu;
  scr: url(../fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Nunito;
  scr: url(../fonts/Nunito-Light.ttf) format("ttf"), url(../fonts/Nunito-ExtraBold.ttf) format("ttf"), url(../fonts/Nunito-ExtraLight.ttf) format("ttf");
}
.navbar-brand {
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}

#home {
  background-image: url(../images/home.jpg);
  background-position: center;
  background-attachment: fixed;
  min-height: 800px;
  background-size: cover;
  color: #fff;
}
#home h1 {
  padding-top: 150px;
  font-weight: bold;
  letter-spacing: 40px;
  text-transform: uppercase;
  color: #C2C4C5;
  font-family: Nunito-ExtraBold;
}
#home .hbtn {
  margin-top: 200px;
}
#home .hbtn:hover {
  text-decoration: none;
}
#home span {
  font-size: 30px;
  font-family: Nunito-Light;
  font-weight: normal;
  color: #FFF;
}

.home-inner {
  min-height: 800px;
  background: rgba(0, 0, 0, 0.5);
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #008ed6;
}

.navbar a {
  color: #fff !important;
}

#about {
  min-height: 500px;
  color: #fff;
  background-image: url(../images/people-coffee-tea-meeting.jpg);
  background-size: cover;
  background-position: center;
}
#about i {
  height: 70px;
  width: 70px;
  font-size: 40px;
  border-radius: 50%;
  background: #33cc33;
  padding-top: 15px;
}
#about h1 {
  font-family: Nunito-ExtraBold;
  font-weight: bold;
  color: #33cc33;
  letter-spacing: 3px;
}
#about p {
  font-family: Nunito-Light;
}
#about .about-overlay {
  background: rgba(0, 0, 0, 0.6);
  min-height: 500px;
}

#about-2 {
  min-height: 600px;
}
#about-2 img {
  min-height: 500px;
  width: 500px;
}
#about-2 p {
  text-align: left;
}
#about-2 i {
  height: 25px;
  width: 25px;
  background: #000;
  border-radius: 20%;
  color: #fff;
  padding: 4px 0px 0px 5px;
}
#about-2 h1 {
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}

#portfolio {
  min-height: 700px;
  background: #ededed;
  overflow: hidden;
}
#portfolio h1 {
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}

/*progressbar css*/
.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 15px 0 20px;
}

.progress {
  height: 5px;
  background: #f0f0f0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
  height: 8px;
}

.progress .progress-bar:after {
  content: "\f0dd";
  font-family: fontawesome;
  font-size: 20px;
  position: absolute;
  top: -18px;
  right: -5px;
}

.progress .progress-value {
  position: absolute;
  top: -30px;
  right: 8px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #000;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
/*skill section*/
#skill {
  min-height: 635px;
}
#skill i {
  height: 30px;
  width: 30px;
  color: #000;
  border: 1px solid #000;
  padding-top: 6px;
  padding-left: 6px;
  background: #12c4f7;
}
#skill p {
  text-align: left;
}
#skill h3 {
  font-family: Nunito-ExtraBold;
  letter-spacing: 2px;
  font-weight: bold;
}
#skill h1 {
  font-family: Nunito-ExtraBold;
  letter-spacing: 2px;
  font-weight: bold;
}

.call-area {
  min-height: 200px;
  background-image: url(../images/pexels-photo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}
.call-area .call-inner {
  background: rgba(0, 0, 0, 0.5);
  min-height: 200px;
  overflow: hidden;
}
.call-area h3 {
  margin-top: 90px;
}

#contact {
  min-height: 500px;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  overflow: hidden;
}
#contact textarea {
  background: transparent;
  border: 1px solid #fff;
}
#contact .form-control {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
}
#contact i {
  height: 30px;
  width: 30px;
  color: #000;
  background: #fff;
  border-radius: 20%;
  padding: 7px 0px 0px 8px;
}
#contact h4 {
  font-family: Nunito-Light;
  font-weight: 500;
}
#contact a:hover {
  text-decoration: none;
}
#contact h1 {
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}

.contact-overlay {
  min-height: 500px;
  background: rgba(0, 0, 0, 0.5);
}

footer {
  min-height: 350px;
  overflow: hidden;
  background: #111112;
  color: #fff;
}
footer .social-bookmark i {
  height: 40px;
  width: 40px;
  color: #7f7878;
  padding: 11px 0px 0px 12px;
}
footer .social-bookmark i:hover {
  background: #fff;
  border-radius: 50%;
  color: #000;
}
footer p {
  text-align: left;
  font-family: Nunito-Light;
}
footer h1 {
  font-family: Nunito-ExtraBold;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
footer h2 {
  letter-spacing: 5px;
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}
footer h5 {
  letter-spacing: 5px;
  font-family: Nunito-ExtraBold;
  font-weight: bold;
}
footer strong {
  color: #60e000;
  text-decoration: underline;
}
footer li {
  padding: 10px 0px 0px 105px;
}
footer .form-control {
  height: 40px;
  border-radius: 0;
}
footer .fa-long-arrow-right {
  color: #fff;
  margin-bottom: 5px;
}
footer .btn-info {
  height: 38px;
  border-radius: 0;
}

/* Cursor */

/*# sourceMappingURL=style.css.map */